*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 htl{
    font-size: 62%;

 }
 .navbar{
    padding: 0 4.8rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
 }
 .navbar .logo{
    height: 3rem;
 }
 .navbar_list{
    display: flex;
    gap: 3.8rem ;
    list-style: none;
 }
  .navbar_link:link,
.navbar_link:visited{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #1f7f7b;
    transition: all 0.3s;
    font-size: 2rem;
    font-weight: 500;
 }